/* Configuracion de la seccion */
.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.ContPrin{
    display: flex;
    flex-direction: column;
    margin: 3.5rem 5rem 0;
}

.SectionTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2.5rem;
}

.ContCard{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 45vh;
}

.ContImg{
    height: 75%;
    width: 100%;
    border-radius: 24px;
    margin-bottom: .5rem;
}

.ContImg > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

/* Information of the hotel */

.ContInf{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0.2rem;
    padding: 0.3rem;
    text-overflow: ellipsis;
}

.Information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.super{
    border: 1px groove #4F4F4F;
    border-radius: 12px;
    padding: .35rem;
    font-size: 12px;
    font-weight: 700;
}

.apartment{
    font-size: 14px;
    font-weight: 500;
    color: #828282;
}

.recomendacion{
    display: flex;
    align-items: center;
    gap: .3rem;
}

.rate{
    font-size: 14px;
    font-weight: 500;
    color: #4F4F4F;
}


.parrafo{ 
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin-top: 1rem;

}